#header {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  font-family: ;
}
#logo {
  text-align: center;
}
img {
  border-radius: 100px;
}
#subtitle {
  text-align: center;
}
#link {
  text-align: center;
}
#subscribebutton {
    text-align: center;
    padding: 20px 0; 
}
